.text-deep-green{
  color: rgb(21, 69, 69);
}
.bg-deep-green{
  background: rgb(21, 69, 69);
}
.bg-light-green{
  background: rgb(192 233 233 / 53%);
}
.line{
  border-bottom: 3px solid rgb(21, 69, 69);;
}

.card-hover:hover{
  background-color: white;
  color: rgb(21, 69, 69);
}